
section {
    margin-top: 50px;
    margin-left: 50px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
    padding: 5px;
}

ul li ul {
    display: none;
}

ul li:hover > ul {
    display: block;
}

ul > li:hover > a {
    color: #d3832c;
}

ul > li:hover > a:hover {
    color: #4579d8;
    text-decoration: underline;
}
