extends base/layout

block content
  div(id="title" class='container')
    h1 Choose your gadget
    div(id='phones' class='image-container')
        img(src="/images/phones.jpg" style="width: 30%")
    div(id='tablets' class='image-container')
        img(src="/images/tablets.jpg" style="width: 30%")
    div(id='wearables' class='image-container')
        img(src="/images/wearables.jpg" style="width: 30%")