doctype
html(lang="en")
head
    meta(charset="UTF-8")
    title We hate css
    link(rel="stylesheet" href="styles.css")
body
    h1 Figrata sme
    #content
        button.pink As sam pink
        button.hidden Hidden botton
        button#btn-pesho KOI E
    #koi-en
        img(id="pic-of-pesho" src="" width="30%").hidden
    script(src="scripts/cofti-script.js")