<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IGetDayService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:65161/GetDayService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGetDayService"
                contract="GetDayBulService.IGetDayService" name="BasicHttpBinding_IGetDayService" />
        </client>
    </system.serviceModel>
</configuration>