@font-face {
	font-family: ITCEdscr;
	src: url('ITCEdscr.TTF');
}

div::first-letter {
	font-family: ITCEdscr;
	font-size: 3.2em;
    color: #0094ff;
}

div::first-line { 
    font-weight: bold; 
}

body {
    font-family: Consolas;
    color: #0094ff;
}