@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">All tasks in one solution.</p>    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Web Forms vs. MVC</h2>
        <p>
            Write down in a text file all the major similarities and differences you can find between ASP.NET Web Forms and ASP.NET MVC
        </p>
        <p><a class="btn btn-default" href="~/Comparison/Comparison">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Calculator</h2>
        <p>Using ASP.NET MVC write the same web calculator as: "http://www.gwebtools.com/bit-calculator"</p>
        <p><a class="btn btn-default" href="~/Calculator/Calculator">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Custom Area</h2>
        <p>ASP.NET MVC lets us partition Web applications into smaller units (areas).</p>
        <p><a class="btn btn-default" href="~/Administration/HomeArea">Learn more &raquo;</a></p>
    </div>
</div>