body, aside, div, h1, h2, h3, dl, dt, dd, ul, li, p, img {
    margin: 0;
    padding: 0;
}

body {
    padding-top: 30px;
}

ul {
   list-style-type: none;     
}

img {
    display: block;
    float: left;
    margin: 10px;
}

#table {
    border: 2px solid black;
    background: white;
    border-radius: 0.4em;    
    width: 770px;
    overflow: hidden;    
    margin: auto;
    padding: 10px;
} 

header nav {
    text-align: center;    
}

nav li { 
    display: inline-block; 
}
        
nav a {    
    font-size: 24px;
    font-weight: bold;
    color: #00AAEF;
    margin: 10px 5px 10px 10px;
}

hr {
    color: black;
    width: 95%;
}

article section {
    float: left;
    position: relative;
    overflow: hidden;
}

#demo_tab {     
    width: 550px;
    display: inline-block;

    *zoom:1;
    *display: inline;

    vertical-align: middle;
    border: 2px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding-bottom: 14px;    
}

.product {
    float: left;
    border: 2px solid black;
    width: 240px;
    margin-top: 20px;
    margin-left: 14px;
    padding: 5px;    
}

section h3 {
    margin-top: -18px;
    margin-left: 15px;
    width: 160px;
    text-align: center;
    background-color: white;
    font-weight: normal;    
}

aside {  
    text-align: center;
}

#filterForm {
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
}

dl {
    margin-bottom: 40px;
}