
<h2 class="text-center">The major similarities and differences between ASP.NET Web Forms and ASP.NET MVC</h2>
<br />
<br />
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th class="text-center col-xs-6"><strong>ASP.NET Web Forms</strong> </th>

            <th class="text-center col-xs-6"><strong>ASP.NET MVC</strong> </th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>ASP.NET Web Forms use Page controller pattern approach for rendering layout. In this approach, every page has its own controller, i.e., code-behind file that processes the request. </td>

            <td>ASP.NET MVC uses Front Controller approach. That approach means a common controller for all pages processes the requests. </td>
        </tr>

        <tr>
            <td>No separation of concerns. As we discussed that every page (<em>.aspx</em>) has its own controller (code behind i.e. <em>aspx.cs/.vb</em> file), so both are tightly coupled. </td>

            <td>Very clean separation of concerns. View and Controller are neatly separate. </td>
        </tr>

        <tr>
            <td>Because of this coupled behavior, automated testing is really difficult. </td>

            <td>Testability is a key feature in ASP.NET MVC. Test driven development is quite simple using this approach. </td>
        </tr>

        <tr>
            <td>In order to achieve stateful behavior, viewstate is used. Purpose was to give developers the same experience of a typical WinForms application. </td>

            <td>ASP.NET MVC approach is stateless as that of the web. So there is no concept of viewstate. </td>
        </tr>

        <tr>
            <td>Statefulness has a lots of problem for web environment in case of excessively large viewstate. Large viewstate means increase in page size. </td>

            <td>As controller and view are not dependent and also no viewstate concept in ASP.NET MVC, so output is very clean. </td>
        </tr>

        <tr>
            <td>ASP.NET WebForms model follows a Page Life cycle. </td>

            <td>No Page Life cycle like WebForms. Request cycle is simple in ASP.NET MVC model. </td>
        </tr>

        <tr>
            <td>Along with statefulness, Microsoft tries to introduce server-side controls as in Windows applications. Purpose was to provide somehow an abstraction to the details of HTML. In ASP.NET Web Forms, minimal knowledge of HTML, JavaScript and CSS is required. </td>

            <td>In MVC, detailed knowledge of HTML, JavaScript and CSS is required. </td>
        </tr>

        <tr>
            <td>The above abstraction was good but provides limited control over HTML, JavaScript and CSS which is necessary in many cases. </td>

            <td>Full control over HTML, JavaScript and CSS. </td>
        </tr>

        <tr>
            <td>With a lots of control libraries availability and limited knowledge of other related technologies, ASP.NET WebForms is RAD(Rapid Application Development) approach. </td>

            <td>It's a step back. For developers decrease in productivity. </td>
        </tr>

        <tr>
            <td>It’s good for small scale applications with limited team size. </td>

            <td>It’s better as well as recommended approach for large-scale applications where different teams are working together. </td>
        </tr>
    </tbody>
</table>