<div id="addCookie" class="row">
    <form class="col-sm-offset-2 col-sm-8">
        <div class="form-group">
            <label for="tb-text">Text: </label>
            <input id="tb-text" class="form-control">
        </div>
        <div class="form-group">
            <label for="tb-category">Category: </label>
            <input id="tb-category" class="form-control">
        </div>
        <div class="form-group">
            <label for="tb-img-url">Image url: </label>
            <input id="tb-img-url" type="url" class="form-control">
        </div>

        <button id="btn-add" class="btn btn-success">Add</button>
    </form>
</div>